<section class="container text-center">
    <div class="jumbotron w-50 mx-auto">
        <div class="container">
            <h1 class="mb-3">Resend confirmation instructions</h1>

            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "shared/devise_messages", resource: resource %>

                <div class="field my-3 mx-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Put your email here", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control" %>
                </div>

                <div class="actions mx-4">
                    <%= f.submit "Resend confirmation instructions", class:"btn btn-primary px-4 w-50" %>
                </div>
            <% end %>

            <%= render "users/shared/links" %>
        </div>
    </div>
</section>
