<%= form_for @accommodation do |f| %>
    <div class="row">
        <div class="col-4">
            <%= f.label :home_type, "Home Type" %>
            <%= f.select :home_type, {'Apartment': "Apartment", 'House': "House", 'Bed & Breakfast': "Bed & Breakdast"}, { include_blank: 'Select...'}, class: "form-control", required: true  %>
        </div>
        <div class="col-4">
            <%= f.label :room_type, "Room Type" %>
            <%= f.select :room_type, {'Entire': "Entire", 'Private': "Private", 'Shared': "Shared"}, { include_blank: 'Select...'}, class: "form-control", required: true  %>
        </div>
        <div class="col-4">
            <%= f.label :accommodate, "Accommodate" %>
            <%= f.select :accommodate, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, class: "form-control", required: true  %>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <%= f.label :bedroom_count, "Bedroom" %>
            <%= f.select :bedroom_count, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, class: "form-control", required: true  %>
        </div>
        <div class="col-4">
            <%= f.label :bathroom_count, "Bathroom" %>
            <%= f.select :bathroom_count, {'1': 1, '2': 2, '3': 3, '4+': 4}, { include_blank: 'Select...'}, class: "form-control", required: true  %>
        </div>
    </div>
    <div class="text-center mt-4">
        <%= f.submit btn_name, class: "btn btn-primary px-4" %>
    </div>
<% end %>