<section class="container">
    <div class="row mt-3">
        <div class="col-3">
            <div class="card text-center">
                <% if @user.image? %>
                    <%= image_tag @user.image.url, class: "card-img-top w-100" %>
                <% else %>
                    <%= image_tag gravatar_for(@user), class: "card-img-top w-100" %>
                <% end %>
                <div class="card-header">
                    <h5>Verification</h5>
                </div>
                <div class="card-body">
                    <p class="my-0">
                        Facebook
                        <% if @user.provider.nil? %>
                            <span class="text-success"><i class="fa fa-check-circle"></i></span>
                        <% else %>
                            <span class="text-danger"><i class="fa fa-times-circle"></i></span>
                        <% end %>
                    </p>
                    <p class="my-0">
                        Phone Number
                        <% if @user.phone.nil? %>
                            <span class="text-success"><i class="fa fa-check-circle"></i></span>
                        <% else %>
                            <span class="text-danger"><i class="fa fa-times-circle"></i></span>
                        <% end %>
                    </p>
                </div>   
            </div>
        </div>
        <div class="col-9">
            <h3><%= @user.name %></h3>
            <p><i class="fa fa-info-circle"></i> <%= @user.description %></p>
            <p><i class="fa fa-envelope"> <%= @user.email %></i><br>
               <i class="fa fa-phone"></i><%= @user.phone %> </p>
            <hr>
            <h5>Rooms (<%= @accommodations.count %>)</h5>
            <div class="row"> 
                <% @accommodations.each do |accommo| %>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <%= link_to accommodation_path(accommo), class:"hover" do %>
                                    <% if accommo.photos.any? %>
                                        <%= image_tag accommo.photos.first.image, class: "w-100 pic-size" %>
                                    <% else %>
                                        <%= image_tag "https://cdn.pixabay.com/photo/2017/10/19/17/56/camera-2868620__340.png", class: "w-100 pic-size" %>
                                    <% end %>
                                <% end %><br>
                                <h5 class="my-2"><%= link_to accommo.name, accommodation_path(accommo), class: "text-dark" %></h5>
                                <p class="text-muted mb-0">
                                    $ <%= accommo.price %> - <%= accommo.home_type %><br>
                                    <%= accommo.bedroom_count %> Bedrooms<br>
                                    <div id="stars_<%= accommo.id %>"></div>
                                    <script>
                                        $('#stars_<%= accommo.id %>').raty({
                                            path: '/assets',
                                            score: '<%= accommo.average_rating %>',
                                            readOnly: true
                                        });
                                    </script>
                                    <% ids = accommo.bookings.pluck(:id) %>
                                    <%= Review.where(booking_id: ids).count %> Reviews
                                </p>
                            </div>
                        </div> 
                    </div>
                <% end %>
            </div>
            <hr>
            <h5 class="my-1">Reviews From Guests (<%= @user.guest_reviews.count %>)</h5>
            <% @user.guest_reviews.each do |g| %>
                <div class="row">
                    <div class="col-2 my-auto">
                        <% if g.user.image? %>
                            <%= image_tag g.user.image, class: "rounded-circle", :size => "50x50" %>
                        <% else %>
                            <%= image_tag gravatar_for(g.user), class: "rounded-circle", :size => "50x50" %>
                        <% end %><br>
                        <%= link_to g.user.name, user_path(g.user), class: "text-dark" %>
                    </div>
                    <div class="col-10">
                        <div id="stars_<%= g.id %>"></div>
                        <script>
                            $('#stars_<%= g.id %>').raty({
                                path: '/assets',
                                score: '<%= g.rating %>',
                                readOnly: true
                            });
                        </script>
                        Checkin date: <span class="text-muted"><%= g.booking.check_in %></span><br>
                        <i class="fa fa-comments"></i> <span class="text-muted"><%= g.comment %></span>
                    </div>
                    <hr>
                </div>
            <% end %>
            <hr>
            <h5 class="my-1">Reviews From Hosts (<%= @user.host_reviews.count %>)</h5>
            <% @user.host_reviews.each do |h| %>
                <div class="row">
                    <div class="col-2 my-auto">
                        <% if h.user.image? %>
                            <%= image_tag h.user.image, class: "rounded-circle", :size => "30x30" %>
                        <% else %>
                            <%= image_tag gravatar_for(h.user), class: "rounded-circle", :size => "30x30" %>
                        <% end %><br>
                        <%= link_to h.user.name, user_path(h.user), class: "text-dark" %>
                    </div>
                    <div class="col-10">
                        <div id="stars_<%= h.id %>"></div>
                        <script>
                            $('#stars_<%= h.id %>').raty({
                                path: '/assets',
                                score: '<%= h.rating %>',
                                readOnly: true
                            });
                        </script>
                        Checkin date: <span class="text-muted"><%= h.booking.check_in %></span><br>
                        <i class="fa fa-comments"></i> <span class="text-muted"><%= h.comment %></span>
                    </div>
                    <hr>
                </div>
            <% end %>
        </div>
    </div>
</section>
