<section class="comntainer text-center mx-5 ">
    <div class="row home-bg mx-5 mt-3 mb-5">
        <div class="col-6 mx-auto py-5 my-5">
            <h2 class="text-white">Experience Any Place Like a Local</h2>
            <%= form_for :search do |f| %>
                <%= f.text_field :destination, placeholder: "Where are you going?", class: "form-control text-center" %>

                <div class="row mt-2">
                    <div class="col-6">
                        <%= f.text_field :checkin_date, placeholder: "Check In", class: "form-control text-center" %>
                    </div>
                    <div class="col-6">
                        <%= f.text_field :checkout_date, placeholder: "Check Out", class: "form-control text-center" %>
                    </div>
                </div>
                <%= f.submit "Search", class: "btn btn-outline-primary mx-auto text-white px-3 mt-2" %>
            <% end %>
        </div>
    </div>   
</section>
<section class="container">
    <h2>Accommodations</h2>
    <hr>
</section>
<section class="container">
    <h2>Locations</h2>
    <hr>
    <div class="row text-center">
        <div class="col-3 paris-bg py-5">
            <br><br><br><br>
            <h3><%= link_to "Paris", root_path, class: "text-white p-5" %></h3>
            <br><br><br><br>
        </div>
        <div class="col-3 amsterdam-bg py-5">
            <br><br><br><br>
            <h3><%= link_to "Amsterdam", root_path, class: "text-white p-5" %></h3>
            <br><br><br><br>
        </div>
        <div class="col-3 chicago-bg py-5">
            <br><br><br><br>
            <h3><%= link_to "Chicago", root_path, class: "text-white p-5" %></h3>
            <br><br><br><br>
        </div>
        <div class="col-3 tokyo-bg py-5">
            <br><br><br><br>
            <h3><%= link_to "Tokyo", root_path, class: "text-white p-5" %></h3>
            <br><br><br><br>
        </div>
    </div>
</section>
<br>
<br>
