<section class="container text-center">
    <div class="jumbotron w-50 mx-auto">
        <div class="container">
            <h2 class="mb-3">Forgot your password?</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "shared/devise_messages", resource: resource %>

                <div class="field my-3 mx-4">
                    <%= f.email_field :email, autofocus: true, placeholder: "Put your email here", autocomplete: "email", class:"form-control" %>
                </div>

                <div class="actions mx-4">
                    <%= f.submit "Send me reset password instructions", class:"btn btn-primary px-4 w-50" %>
                </div>
            <% end %>

            <%= render "users/shared/links" %>
        </div>
    </div>
</section>
