<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-bg">
    <%= link_to root_path, class: "navbar-brand text-primary ml-5 text-dark" do %>
        <i class="fa fa-home"></i> Airbnb-Saki
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_tag search_path, method: :get, class: "form-inline mr-auto my-2 my-lg-0" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Your Destination", class: "form-control text-center mr-sm-2" %>
      <%= submit_tag :Search, class: "btn btn-outline-dark my-2 my-sm-0" %> 
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item active mr-2 my-auto">
                <%= link_to "Become a Host", new_accommodation_path, class: "nav-link btn btn-outline-primary text-dark" %> 
            </li>
            <% if user_signed_in? %>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% if current_user.image? %>
                            <%= image_tag current_user.image.url, class: "rounded-circle", :size => "30x30" %>
                        <% else %>
                            <%= image_tag gravatar_for(current_user), class: "rounded-circle", :size => "30x30" %>
                        <% end %>
                        <%= current_user.name %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to "Manage Listing", accommodations_path, class: "dropdown-item" %>
                        <%= link_to "List Your Space", new_accommodation_path, class: "dropdown-item" %>
                        <%= link_to "Your Reservations", your_reservations_path, class: "dropdown-item" %>
                        <%= link_to "Your Trips", your_trips_path, class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "dropdown-item" %>
                        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </li>
            <% else %>
                <li class="nav-item active">
                    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %> 
                </li>
                <li class="nav-item active">
                    <%= link_to "Sign In", new_user_session_path, class: "nav-link" %> 
                </li>
            <% end %>
        </ul>
    </div>
</nav>
